# IDE
.classpath
.project
.settings/
.factorypath
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Build
target/
build/
dist/
*.jar
*.war
*.ear

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Test
test-output/
